/* General style */

html {
  font-size: 20px;
  line-height: 1.2;
}

body {
  background-color: #f8f8f8;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Navigaton bar */
nav {
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  display: inline-block;
  padding: 1rem 0;
}
